<h2><%= (@user.display_name.blank?) ? "Account" : @user.display_name %></h2>
<p>
  <table id="account">
    <tr>
      <td><%= gravatar_for @user %></td>
      <td>
        <div><%= link_to('Edit Account', edit_account_path) if @user == current_user %></div>
        <div><b><%= h @user.tests.completed.count %></b> completed tests</div>
      </td>
    </tr>
  </table>
</p>

<h2>Configurations</h2>

<% if @user == current_user %>
  <p>
    The processing-js test suite records data from many different platform/browser configurations.
    The test suite will attempt to automatically detect your current configuration and prompt you to add it. If the test suite was unable to detect your current configuration you may
    <%= link_to "add a configuration", new_configuration_path  %> manually.
  </p>

  <%= render :partial => 'detected_configuration' %>

  <p><%= link_to "Create a new configuration", new_configuration_path  %></p>
<% end %>

<% unless @user.configurations.empty? %>
  
  <table id="configurations">
    <tr>
      <th class="release">Processing Release</th>
      <th class="platform">Platform</th>
      <th class="browser">Browser</th>
      <td class="progress"></td>
      <td class "pass"></td>
      <td class "fail"></td>
      <td class="test"></td>
      <td class="summary"></td>
    </tr>
  <% @user.configurations.each do |configuration| %>
    <% configuration_enabled = @user_agent.match(configuration.platform.regexp) && @user_agent.match(configuration.browser.name) %>
    <tr class="<%= configuration_enabled ? "detected" : "" %>">
      <td class="release"><%= configuration.release.version %> <%= link_to("Edit", edit_configuration_path(configuration)) if @user == current_user %></td>
      <td class="platform"><%= configuration.platform.name_and_version %></td>
      <td class="browser"><%= configuration.browser.name %></td>
      <td class="progress"><span class="progressBar" id="progressBar_<%=configuration.id %>"><%= configuration.percent_complete %></span></td>
      <td class="pass"><img src="/images/pass.png" align="absmiddle" style="margin-right: 4px;"><%= configuration.tests.passed.count %></td>
      <td class="fail"><img src="/images/fail.png" align="absmiddle" style="margin-right: 4px;"><%= configuration.tests.failed.count %></td>
      <td class="test">
        <div class="buttons">
          <% if @user == current_user %>
            <% if configuration_enabled and @example_count > 0 %>
              <%= link_to((configuration.tests.completed.count == 0) ? "Start" : "Continue", configuration_example_path(configuration, configuration.current_example_id || Example.first), :class => "test-configuration") %>
            <% else %>
              <%= link_to("Disabled", configuration_example_path(configuration, configuration.current_example_id || Example.first), :confirm => "This configuration does not match the detected user agent. Are you sure you want to continue?", :class => "fail") %>
            <% end %>
          <% end %>
        </div></td>
      <td class="summary"><div class="buttons"><%= link_to("Summary", configuration_examples_path(configuration), :class => "summary") %></div></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <p>No test configurations found. </p>
<% end %>

