<div id="example">
  <h2><%= @example.name %></h2>

  <p class="description"><%= @example.description %></p>
  
  <p class="p5_url"><%= link_to "<b>Original Processing.org Example:</b> " + @example.name, @example.p5_url %></p>
  
  <table>
    <tr>
      <td width="200"><canvas datasrc="<%= example_path(@example, :format => :pjs) %>" width="200" height="200"></canvas></td>
      <td><div id="source"><pre><code><%= h @example.source %></code></pre></div></td>
    </tr>
  </table>
  <% if @test and @test.user == current_user %>
    <% form_for @test do |f| %>
      <br /><br />
      <%= f.label :notes %><br />
      <%= f.text_area :note, :class => "note" %>
      <br /><br />
      <div class="buttons">
        <% if @test.pass == true %>
          Marked <img src="/images/pass.png" align="absmiddle" style="margin-right: 4px;">
        <% elsif @test.pass == false %>
          Marked <img src="/images/fail.png" align="absmiddle" style="margin-right: 4px;">
        <% end %>
        
        <%= f.submit "Skip", { :name => "skip", :class => "skip" } %>
        <%= f.submit "Fail", { :name => "fail", :class => "fail" } %>
        <%= f.submit "Pass", { :name => "pass", :class => "pass" } %>
      </div>
    <% end %>
  <% end %>
</div>